body {
    font-family: 'Rajdhani', sans-serif;
}

#movies-container {
    margin: 2em;
}

.movie-form {
    padding: 1em;
    background: rgba(133, 133, 133, 0.39);
    border-radius: 10px;
    width: 40%;
    margin: 1em;
}

.movie-banner{
    height: 200px;
    width: 300px;
}

.edit-form {
    padding: 1em;
}

.hidden {
    display: none;
}
