body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #577272;
    margin-bottom: 0;
}

/*//////////////////LOADING ANIMATION///////////////*/
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*////////////////////MOVIES CSS////////////////////////*/
#movies-container {
    margin: 2em 6em;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-form {
    padding: 1em;
    background: rgba(133, 133, 133, 0.5);
    border-radius: 10px;
    width: 60%;
    margin: 1em auto;
}

.movie-banner{
    height: 200px;
    width: 300px;
}

.edit-form {
    padding: 1em;
}

.star {
    margin-left: 20px;
    cursor: pointer;
}

.favorited {
    background-color: yellow;
}

.hidden {
    display: none;
}

/*////////////////////FOOTER CSS//////////////////////////*/
#copyright {
    margin-top: 4em;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 4em;
}


footer {
    background-color: #3f3e3e;
    /*margin-left: 20%;*/
    /*margin-right: 20%;*/
    /*border-radius: 5%;*/
}

/*///////////////////////////BACKGROUND CSS///////////////////////////*/
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #2d2f2d 50%, #40627c 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}








