body {
    font-family: 'Rajdhani', sans-serif;
    background-image: linear-gradient(45deg, #000000 50%, #e5e5f7 10%);
    background-size: 20px 20px;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#movies-container {
    margin: 2em 6em;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-form {
    padding: 1em;
    background: rgba(133, 133, 133, 0.21);
    border-radius: 10px;
    width: 40%;
    margin: 1em auto;
}

.movie-banner{
    height: 200px;
    width: 300px;
}

.edit-form {
    padding: 1em;
}

.hidden {
    display: none;
}

#copyright {
    text-align: center;
}

.star {
    margin-left: 20px;
    cursor: pointer;
}

.favorited {
    background-color: yellow;
}



footer {
    background-color: #a9a9a9;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5%;
}







